@model TmntCardManager.Models.Card

@{
    ViewData["Title"] = "Edit";
}

<h1>Змінити карту</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Imageurl" class="control-label"></label>
                <input asp-for="Imageurl" class="form-control" />
                <span asp-validation-for="Imageurl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Strength" class="control-label"></label>
                <input asp-for="Strength" class="form-control" />
                <span asp-validation-for="Strength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Agility" class="control-label"></label>
                <input asp-for="Agility" class="form-control" />
                <span asp-validation-for="Agility" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Skill" class="control-label"></label>
                <input asp-for="Skill" class="form-control" />
                <span asp-validation-for="Skill" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wit" class="control-label"></label>
                <input asp-for="Wit" class="form-control" />
                <span asp-validation-for="Wit" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Classid" class="control-label"></label>
                <select asp-for="Classid" class="form-control" asp-items="ViewBag.Classid"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Зберегти" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @if (ViewBag.ReturnFactionId != null)
    {
        <a asp-action="Index" asp-route-id="@ViewBag.ReturnFactionId">Назад до списку карт фракцій</a>
    }
    else
    {
        <a asp-action="Index">Назад до всіх карт</a>
    }
</div>

